/* Navigation bar styles */
nav {
    background-color: #130450;
    margin: auto;
    text-align: center;
}


nav ul li a {
    font-size: 18px;
    padding: 10px 20px;
    color: #e7e9ff;
    display: inline-block;

}
nav ul li :hover {
    background-color: #230896;

}

/* Styles pour le menu dropdown */

.dropdown {
    position: relative;
}



.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 100px;
}

.dropdown-menu li:hover {
    background-color: #230896;
    min-width: 100px;
}

.dropdown-menu li:hover a {
    color: #fff;
    min-width: 100px;
}


.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #130450;
    min-width: 100px;
}



/* Header styles */
header {

    background-image: url(../images/index/iabanner.jpg);
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header h1 {
    font-family: monospace;
    padding-top: 45px;
    font-size: 72px;
    color: #ffffff;
    text-shadow: 2px 2px #17007a;
}


/* Main content styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    padding: 40px;
    line-height: 1.5;
}
main p {
    margin-bottom: 20px;
}

.source{
    text-align: center;
    font-size: small;
}

.travailtxt{
    text-align: left;
    margin: 1cm;
}

.homer{
    display: block;
    margin: auto;
}